# Theoretical Questions

#### 1. What are Data Structutes and why are they importent?

Data structures are way of orgnizing, storing and managing data by which we can access and modify easly when we need.
They are importent becuse by choosing the right data structure while working on any project its impact the effeciency and the performance of our program.

#### 2. Explain the difference between mutable and immutable data types with examples

Mutable:- Those type of data type where we can change or modify after its creation.
    example:
    lst1 = [1,2,3]
    list1[0] = 4
    print(list1)   // output will be [4,2,3]

Immutable:- Those type of data type where we can't be change after its creation.
Example:
tuple = (1,2,3)
tuple[0]=5    // It will give error ie modification is not allowed

#### 3. What are the main difference between lists and tuples in python ?

Lists :-
    List are mutable means we can modify after cration.
    its define by [].
    It is slower in performance becuse of mutability.
    We can use methods like append(), pop(), remove() etc.

Tupes :-
    Tuples are immutable means we cant modify after creation.
    Defined by ().
    It if faster in performence as its immutable.
    Methods used like count(), index().

#### 4. Discribe how dictionary stored data ?

Dictionary stored data in key value pair.

example: 
my_dict = {"Name":"Amit", "Adress":"Delhi", "Contact":1234567890}

Here "Name" is key and "Amit is value" and "Name":"Amit" is at index 0 of my_dict.
In Simple way it looks like

index      Key        Value
  0        Name       Amit
  1        Address    Delhi
  2        Contact    1234567890

#### 5. Why might you use a set insted of a list in python ?

Set is a unordered collection of unique elements and it does't allow duplicasy while list is a ordered colection of data and it allow duplicasy.
So when we have to store employee_id in this case we prefer set not a list becuse employee_id must be unique.
Sets are also provede operations like intersection, difference etc.

Suppose there are two sets of employee_id who works on two different project so by using set we can get the data of those employee_id who working on both projects by intersection operation but List does't provide this type of features so we might use set insted of list.

#### 6. What is a string in python, and how it is different from list ?

String is a sequence of charecter in single quot or double quots and it's unchangable while list is a ordered collection of data of various data type furthermore we can change or modify the elements.
String is defined by '' or "" while list is defines as [].
String support case conversion like upper(), lower(), title() while list is not.
In string iterator will iterate on charecter while in list iterater iterates over element.

#### 7. How do tuples ensure data integrity in python ?

Tuples ensure data integrity as they are immutable which means their elements can't be changed after creation. This property provides a reliable and secure way to store data that will remains constant throughout the program.

#### 8. What is hash table, and how does it relate to dictionaries in python ?

Hash table is data structure which provides fast and efficient way to store the data and reterive the data based on a key. It uses a hasing function to map keys to specific location in memory.

Dictionaries are implemented using hash table means when we are declear a dictinary python convert it to hash table as python has inbuild function called hash() funation, it convert key into an integer ie hash value by which accessing the value for particular key is become easy.

#### 9. Can lists contain different data types in python ?

YES, As per the definition lists are ordered coection of data of various data type, so it is capable to store the data of any type means what you want to store where it's a list, a set, a tuple, a string or a dictionary.

list = [1, "Amit", (1,2), {4,5}, {"Key":"Value"}] // it will not throw any error

#### 10 Explain why strings are immutable in python

Strings in python are immutabe means we can't change after creation. This design contribute in python's efficency and overall performance.
Python use a technique called string interning means it stored the identical string only once in memory and reuse it.
like there are two strings s1="amit" and s2="amit" so here "amit" is stored once if we print(s1 is s2) gives True becuse both strings are identical and stored at the same memory location and its increse the effeciency thats why strings are immutable in python.

#### 11. What advantages do dictionaries offer over lists for certain task ?

Dictionary and list both are data structures in programming language and their use is depends on situation while implimenting it.
If we want to store details of students in this situaltion we use dictionary insted of list.

student_details = {"student1":{"Name":"abc","Course":"DS"},
                    "Student2":{"Name":"abcd","Course":"DA"}}

for the above example dictionary is more sutable while list is more complecated data structure. Dictioary is fast as compair to list becuse its use hash table by which accessing the element is more easy.

#### 12. Discribe a senario where using a tuple would be preferable over a list.

As we know that tupes are immutable while list are mutable means if we declear a tuple modification is not alowed.
There is a senario where we use tuple :- If we are working on an application that requires a fixed set of configuration like implementing location so we have to set the latitude and longitude which should not change after creation.

#### 13. How do sets handle duplicate value in python ?

Sets are unoredered collection of unique elements means duplicasy is not allowed and if we give duplicate value while creation of set, duplicate value will be removed and still if we add any duplicate element to it, it will ignore duplicate value and aaccept only unique elements.

#### 14. How does the "in" keyword work differently for lists and dictionaries ?

When we use 'in' keyword in list it is going to search and access element in a sequential way until the value is found or its each to the end of list while in dictionary 'in' leades to every key of a dictionary not every value of dictionary.

#### 15. Can you modify the elements of a tuple? explain why or why not ?

NO, We can't modify the elements of tuple becuse it is immutable means it can't be modified once they are created. tuples are designed to represent fixed coection of data which makes them safer. If we trying to mofify the elements of tuple it will give error.
As we know that tuple is immutable but it is able to contains mutable object like list in that situation we can modify that mutable elements ie list element otherwise we can't modify tuple elements.

#### 16. What is nested dictionary, and give an example of its use case?

Nested dictionary is dictionary inside dictionary. It is way to store structured data.
example :- Storing the details of employee by employee code which is unique.

nested_dictionary = {
    "employee_1": {"Name":"Amit kumar", "Profession":"Data Analyst"},
    "employee_2": {"Name":"Ravi kumar", "Profession":"Data Scientist"},
    "employee_3": {"Name":"Ranajn kumar", "Profession":"Data Codinator"}
}

#### 17. Discribe the time complexity of accessing element in a dictionary.

Time complexity of accesssing element in dictionary in average case is O(1) becuse dictionary use hash table means python has inbuid funcion called hash() which comutes key to hash, this hash is determined as location or index of key valu pair and accessing element will be get easly. While in worst case it takes O(n) time which is rare. worst case will be rise due to hash collision. hash collision occure when two keys produce the same hash value then python use collision resolution machanism.

#### 18. In what situation lists preferred over dictionaries ?

Lists are oredred collection of elements while dictionaries are un-ordered collection of unique element. When we have to do task on sequential data then we use lists in lists we can access element by index but dictionary does't provide this. Lists are more preferable when we have to sort the elements becuse in list we can sort elements by sort() method while dictionry does't becuse it is accessable by key.

#### 19. Why are dictionaries considered unorder, and how does that effect data retrieval ?

Dictionaries are unordered becuse of its internal structure based on hash table which does not maintain the order of key-value pair. It affect data retrieval as its retrieval machenism is based on hashing we can't retrive data by indexing like list, we must have use the key to retrive the crossponding value.

#### 20. Explain the difference between a list and a dictionary in term of data retrieval.

Elements in lists are retrive using their index as indexing is sequential, means the first element at index 0, the second element at index 1 and so on. While elements in dictionaries are retrived using their key as key are unique.

# Practical Questions

#### 1. Write a code to create a string with your name and print it

In [35]:
name = "Amit Kumar"
print(name)

Amit Kumar

#### 2. Write a code to find the length of the string "Hello World".

In [36]:
str = "Hello World"
print("Length of string is : ",len(str))

Length of string is :  11

#### 3. Write a code to slice the first 3 characters from the string "Python Programming".

In [37]:
str = "Python Programming"
slice = str[:4]
print(slice)

Pyth

#### 4. Write a code to convert the string "hello" to uppercaseE

In [38]:
str = "hello"
str.upper()

'HELLO'

#### 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [39]:
string = "I like apple"
string=string.replace("apple","orange")
string

'I like orange'

#### 6. Write a code to create a list with numbers 1 to 5 and print it.

In [40]:
list=[]
for i in range(1,6):
    list.append(i)
print(list)

[1, 2, 3, 4, 5]

#### 7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [41]:
list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

#### 8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [42]:
list = [1,2,3,4,5]
list.remove(3)
list

[1, 2, 4, 5]

#### 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [43]:
list = ['a', 'b', 'c', 'd']
list[1] #accessing second element

'b'

#### 10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [44]:
list = [10, 20, 30, 40, 50]

# using method reverse()
list.reverse()
print("Using reverse method: ",list)

# using loop
list.reverse() # Reversing list to remains same as given
i = 0
j = len(list)-1
while(i < j):
    temp=list[i]
    list[i]=list[j]
    list[j]=temp
    i+=1
    j-=1
print("Using loop: ",list)

Using reverse method:  [50, 40, 30, 20, 10]
Using loop:  [50, 40, 30, 20, 10]

#### 11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [45]:
tuples = (10,20,30)
print(tuples)

(10, 20, 30)

#### 12.  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [46]:
tuple = ('apple', 'banana', 'cherry')
tuple[0]

'apple'

#### 13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [47]:
tuple = (1, 2, 3, 2, 4, 2)
tuple.count(2)

3

#### 14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [48]:
tuple = ('dog', 'cat', 'rabbit')
tuple.index("cat")

1

#### 15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [49]:
tuple = ('apple', 'orange', 'banana')
"banana" in tuple

True

#### 16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [50]:
set = {1, 2, 3, 4, 5}
print(set)

{1, 2, 3, 4, 5}

#### 17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [51]:
set = {1, 2, 3, 4}
set.add(6)
set

{1, 2, 3, 4, 6}

#### 18.  Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [52]:
tuples = (10,20,30)
print(tuples)

(10, 20, 30)

#### 19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')

In [53]:
tuple = ('apple', 'banana', 'cherry')
tuple[0]

'apple'

#### 20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [54]:
tuple = (1, 2, 3, 2, 4, 2)
tuple.count(2)

3

#### 21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [55]:
tuple = ('dog', 'cat', 'rabbit')
tuple.index("cat")

1

#### 22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [56]:
tuple = ('apple', 'orange', 'banana')
"banana" in tuple

True

#### 23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [57]:
set = {1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

#### 24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [58]:
set = {1, 2, 3, 4}
set.add(6)
set

{1, 2, 3, 4, 6}